<!DOCTYPE html>
<html>
<head>
    <title>Chance.in</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="navbar">
    <h2>Chance.in</h2>
    <div>
        <a href="/">Home</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </div>
</div>

<div class="home-center">

    <h1 class="main-title">
        Online Job Recommendation Portal 🚀
    </h1>

    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" class="home-img">

    <p class="subtitle">
        Find jobs easily and apply in one click
    </p>

    <div class="home-buttons">
        <a href="/register" class="btn-box">Get Started</a>
        <a href="/login" class="btn-box">Login</a>
    </div>

</div>

</body>
</html>